ToyRobot/bin
ToyRobot/obj
/ToyRobot/ToyRobot.csproj.user
/.vs/ProjectEvaluation/toyrobot.metadata.v7.bin
/.vs/ProjectEvaluation/toyrobot.projects.v7.bin
/.vs/ToyRobot/DesignTimeBuild/.dtbcache.v2
/.vs/ToyRobot/FileContentIndex/5dcd18e5-565d-4d2f-ba92-0cf986cc898b.vsidx
/.vs/ToyRobot/v17/.futdcache.v2
/.vs/ToyRobot/v17/.suo
